<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.nhkhang.zed</string>
	<key>connections</key>
	<dict>
		<key>37A886FA-F539-4D47-B613-8829E5631A30</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>37D2D818-AB67-4CB6-84F4-73949C98CA43</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>37D2D818-AB67-4CB6-84F4-73949C98CA43</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8E2DA98A-BA20-4612-A418-1867C110C25A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>79B84F16-9EA0-4937-8551-998C3F43B8E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>62EE6323-63DD-4526-8280-D57D14959405</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>62EE6323-63DD-4526-8280-D57D14959405</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2F606A61-A7E7-4FCA-83DD-1077B97E7A7E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>me</string>
	<key>description</key>
	<string>Open Zed remote SSH projects from Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>zed-remote</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>!zo</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Zed SSH projects...</string>
				<key>script</key>
				<string>/usr/bin/python3 ./zed_open.py filter</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Filter Zed SSH projects from settings.json</string>
				<key>title</key>
				<string>Open Zed Remote Project</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>37A886FA-F539-4D47-B613-8829E5631A30</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python3 ./zed_open.py open "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>37D2D818-AB67-4CB6-84F4-73949C98CA43</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Opening Zed Remote</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8E2DA98A-BA20-4612-A418-1867C110C25A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>!za</string>
				<key>subtext</key>
				<string>Example: ssh user@example.com /home/user/project</string>
				<key>text</key>
				<string>Add Zed SSH target</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>79B84F16-9EA0-4937-8551-998C3F43B8E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>/usr/bin/python3 ./zed_add.py "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>62EE6323-63DD-4526-8280-D57D14959405</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Zed Remote Target</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>2F606A61-A7E7-4FCA-83DD-1077B97E7A7E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Use !zo to filter and open Zed SSH projects from your Zed settings. Use !za ssh user@host /path to add a target.</string>
	<key>uidata</key>
	<dict>
		<key>37A886FA-F539-4D47-B613-8829E5631A30</key>
		<dict>
			<key>xpos</key>
			<real>120</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>37D2D818-AB67-4CB6-84F4-73949C98CA43</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>8E2DA98A-BA20-4612-A418-1867C110C25A</key>
		<dict>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>80</real>
		</dict>
		<key>79B84F16-9EA0-4937-8551-998C3F43B8E2</key>
		<dict>
			<key>xpos</key>
			<real>120</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>62EE6323-63DD-4526-8280-D57D14959405</key>
		<dict>
			<key>xpos</key>
			<real>340</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
		<key>2F606A61-A7E7-4FCA-83DD-1077B97E7A7E</key>
		<dict>
			<key>xpos</key>
			<real>560</real>
			<key>ypos</key>
			<real>240</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>webaddress</key>
	<string>https://zed.dev/docs/remote-development</string>
</dict>
</plist>
